Labs/__MACOSX/._ch04
Labs/__MACOSX/ch04/._.DS_Store
Labs/__MACOSX/ch04/._bistro.txt
Labs/__MACOSX/ch04/._finished exercises
Labs/__MACOSX/ch04/finished exercises/._.DS_Store
Labs/__MACOSX/ch04/finished exercises/._blackgoose.png
Labs/__MACOSX/ch04/finished exercises/._ex4-1_index.html
Labs/__MACOSX/ch04/finished exercises/._ex4-2_index.html
Labs/__MACOSX/ch04/finished exercises/._ex4-3_index.html
Labs/__MACOSX/ch04/finished exercises/._ex4-4_index.html
Labs/__MACOSX/ch04/finished exercises/._ex4-5_index.html
Labs/ch05/.DS_Store
Labs/ch05/exercise_05-01_text.txt
Labs/ch05/exercise_05-02_text.txt
Labs/ch05/exercise_05-03_text.txt
Labs/ch05/finished exercises/exercise_05-01.html
Labs/ch05/finished exercises/exercise_05-02.html
Labs/ch05/finished exercises/exercise_05-03.html
Labs/__MACOSX/._ch04
Labs/__MACOSX/ch04/._.DS_Store
Labs/__MACOSX/ch04/._bistro.txt
Labs/__MACOSX/ch04/._finished exercises
Labs/__MACOSX/ch04/finished exercises/._.DS_Store
Labs/__MACOSX/ch04/finished exercises/._blackgoose.png
Labs/__MACOSX/ch04/finished exercises/._ex4-1_index.html
Labs/__MACOSX/ch04/finished exercises/._ex4-2_index.html
Labs/__MACOSX/ch04/finished exercises/._ex4-3_index.html
Labs/__MACOSX/ch04/finished exercises/._ex4-4_index.html
Labs/__MACOSX/ch04/finished exercises/._ex4-5_index.html
