h1{
    text-align: center;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center ;
    height: 920px;
    width: 920px;
    margin-right: auto;
    margin-left: 24%;
    background-color: blueviolet;
    padding-left: .2em;
} 
.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    
}

.flip-card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    padding: 1px;
    perspective: 600px;
    text-align: center;
    font-size: 2em;
    color: black;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width:100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.flip-card-front{
    height: 100%;
    width: 100%;
    background-color: aqua;
}
.flip-card-back{
    height: 100%;
    width: 100%;
    background-color: chartreuse;
    transform: rotateY(180deg);
    text-align: center;
}

.puppy img{
    transition: transform 0.3s linear;
    margin-bottom: 90px;
    margin-top: auto;
}

.puppy img:hover{
    transform: rotate(4deg) scale(2) translateY(7px);
    
}
footer {
    text-align: right;
    margin: 0em;
    width: auto;
    color:white;
}